@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.nav-left {
    padding-left: 50px;
}

.ul-lines {
    display: flex;
    gap: 20px;
    list-style: none;
    padding-right: 30px;
}

.ul-lines li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    font-weight: 200px;
}

@media (min-width: 576px) and (max-width: 778px) {
    #navbar {
        height: 80px;
    }

    .nav-left {
        padding-left: 20px;
    }

    .logo img {
        width: 80%;
        height: 80%;
    }

    .ul-lines {
        gap: 15px;
        padding-right: 10px;
    }

    .ul-lines li a {
        font-size: 18px;
    }

}

@media (max-width: 576px) {
    #navbar {
        height: 80px;
    }

    .nav-left {
        padding-left: 1px;
    }

    .logo img {
        width: 75%;
        height: 75%;
    }

    .ul-lines {
        gap: 12px;
        padding-right: 1px;
    }

    .ul-lines li a {
        font-size: 16px;
    }

}