@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


#description{
    position: relative;
    top: 200px;
    margin: 20px;
}

#description h1{
    font-size: 50px;
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    padding: 15px;

    
}
#description p{
    color: #344054;
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    padding: 20px;
}