@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


#description {
    position: relative;
    top: 200px;
    margin: 20px;
}

#description h1 {
    font-size: 50px;
    font-weight: 600;
    font-family: "Outfit", sans-serif;
    padding: 15px;


}

#description p {
    color: #344054;
    font-family: "Outfit", sans-serif;
    font-size: 24px;
    padding: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
    #description h1 {
        font-size: 43px;
    }

    #description p {
        font-size: 20px;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    #description {
        margin: 10px;
    }

    #description h1 {
        font-size: 40px;
        padding: 10px;
    }

    #description p {
        font-size: 18px;
        padding: 10px;
    }

    .para {
        display: none;
    }
}

@media (max-width: 576px) {
    #description {
        margin: 10px;
    }

    #description h1 {
        font-size: 30px;
        font-weight: 400;
        padding: 5px;
    }

    #description p {
        font-size: 18px;
        padding: 5px;
    }

    .para {
        display: none;
    }

}